# Python & Env
__pycache__/
*.py[cod]
venv/
venv_prod/
.env

# Heavy AI Data (Local Only)
training_data/

# Application Data & Outputs
build/
dist/
*.spec
ats_database.db
app_debug.log
data/
uploads/
pw-browsers/
.vscode/
.idea/
node_modules/
.DS_Store
